@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    color:#519EF8;
}

h1, h2, h3, h4, h5{
    font-weight: 100;
    margin: 2vh auto 1vh auto;
}

header{
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

header a, header h1{
    margin:2vh auto;
}

 main{
     margin:10vh 10vw;
 }

 main h2{
    margin-top:4vh;
 }

 main h4, main h5{
    font-style: italic;
    margin-top:4vh;
 }
main ul, main ol, main a{
     margin-left:2.5vw;
 }

 main li{
    margin:1vh;
 }

 .definition{
     font-style: italic;
     font-size: 16px;
 }