@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    scroll-snap-type: y mandatory;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #313131;
    font-size: 16px;
}
.wrapper {
    width:100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
a{
    text-decoration: none;
    color:#313131;
}

a:hover{
    color:#519EF8;
}

h1, h2, h3, h4{
    font-weight: 100;
    text-transform: uppercase;
}

h3{
    margin: 2vh auto 1vh auto;
}
#site-header{
    position: fixed;
    top: 0;
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height:100px;
    width: 100vw;
    background-color:rgba(255, 255, 255, 0.8);
    transition: all .3s ease;
    box-shadow: 0 1px 25px rgba(0,0,0, .1);
}
#site-header.hide {
    top: -100px;
}
.logo{
    grid-column: 2/ 4;
    margin:auto;
}
.header-nav{
    grid-column: 4/ 10;
    margin:auto;

}

header ul{
    display: flex;
}

ul li{
    list-style-type: none;
    margin-right:2vw;
    text-transform: uppercase;
}

.contact{
    grid-column: 10/12;
    border: none;
    outline: none;
    background-color: #519EF8;
    text-transform: uppercase;
    box-shadow: 4px 4px 5px rgba(0,0,0, .1);
    transition: all .3s ease;
    height:5vh;
    width:10vw;
    margin:auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-radius: 1px;
}
.contact:hover{
    border: solid 0.5px #313131;
    outline: none;
    background: none;
}
section{
    height: 100vh;
    grid-column: 2/ 12;
    scroll-snap-align: start;
    padding-top:100px;
}

h1{
 font-size: 40px;
 margin-top:2vh;
 margin-bottom:2vh;
}

.button-wrapper{
    margin:5vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.read-more{
    border: solid 0.5px #313131;
    outline: none;
    background: none;
    text-transform: uppercase;
    box-shadow: 4px 4px 5px rgba(0,0,0, .1);
    transition: all .3s ease;
    height:7vh;
    width:14vw;
    margin:auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-radius: 1px;
}
.read-more:hover{
    background-color: #519EF8;
    border:none;
}


/* hero */
#hero{
    grid-column: 1/ 13;
}
.hero-wrapper{
    width:100vw;
    height:75vh;
    background-image: url(images/hero.jpeg);
    background-position-y: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.hero-text{
    max-width: 40vw;
    background-color: rgba(255, 255, 255, 0.8);
    grid-column: 2;
    grid-row: 2;
    margin:2vw;
    border-radius: 1px;

}
.hero-text h1{
    padding:1vh 2vw;
    line-height: 1.3;
}
.about-text, .homes-text, .involved-text{
    max-width: 30vw;
    font-size: 20px;
}


/* about */
#about-section{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

/* process */
.process-text{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}
.process-text p{
    margin:1rem;
}

iframe{
    border-radius: 15px;
}
.player{
    height:490px;
}

/* homes */
#homes-section {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.homes-heading, .homes-text{
    grid-column: 2/3;
}
.homes-text li{
    margin-top:3vh;
    margin-left:2.5vw;
}
#homes img{
    grid-column: 1/2;
    max-width: 30vw;
}

.container-wrapper{
    position: relative;
}
.container-wrapper span{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    top:180px;
    left:50px;
    padding:20px 30px;
    line-height: 1.5;
}

/* projects */
.projects img{
 max-height: 250px;
 border: solid 0.5px black;
}
.projects{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.image-wrapper{
    position: relative;
}
.projects span{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    bottom:20px;
    left:20px;
    padding:5px 15px;
    font-size: 15px;

}


/* involved */
#involved-section{
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.involved{
    display: grid;
    grid-column: 2/10;
    grid-template-columns: repeat(2, 1fr);
}
.involved-text{
    grid-column: 1;
}

.involved-partners{
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.involved-partners h2{
    margin-top:2vh;
}
.column1{
    grid-column: 1;
    margin-right:2vw;
}
.column2{
    grid-column: 2;
}


footer{
    margin-top:13vh;
    padding-top:3vh;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 100;
    background-color:#313131;
    grid-column: 1/11;
    color:white;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.footer-nav a, .footer-contact a{
    color: white;
    font-weight: 100;
}
.footer-nav a:hover, .footer-contact a:hover{
    color: #519EF8;
}
.approach{
    grid-column: 2/4;
    padding-right:5vw;
}

.footer-nav{
    grid-column: 5/8;
}
.footer-contact{
    grid-column: 10/12;
}
.footer-contact a{
    display:block;
}

.footer-contact h4, .approach h4{
    font-weight: 300;
}